<!DOCTYPE HTML>
<html>
  <head>
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  <h1>登陆</h1>
  <form action="/reg" method="POST">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <input type="submit" value="登陆" />
  </form>
  </body>
</html>
