<!DOCTYPE HTML>
<html>
  <head>
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>注册</h1>
    <form action="/reg" method="POST">
      <input type="text" name="role" />
      <input type="password" name="reg" />
      <input type="submit" value="点击注册" />
    </form>
  </body>
</html>
