<div class="addCategory">
    <div class="form-group">
        <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="name" ng-model="data.username"
                   ng-disabled="isDisabled()">
        </div>
        <div class="col-sm-2">
            <input type="password" class="form-control" placeholder="password" ng-model="password">
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-default" ng-click="submit()">submit</button>
        </div>
    </div>
</div>

