<div class="content">

</div>
<a ui-sref="layout.adduser" class="btn btn-info">
    添加管理员
</a>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in list">
        <td>{{$index}}</td>
        <td>{{item.username}}</td>
        <td><span ng-click="del(item.objectId,$index)">删除</span>&nbsp;|&nbsp;<span
                ui-sref="layout.adduser({username:item.username,objectId:item.objectId})">修改</span></td>
    </tr>
    </tbody>
</table>