<div class="addCategory">
    <div class="col-sm-12">
        <div class="col-sm-1">个人头像</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="个人头像" ng-model="info.head">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-1">个人签名</div>
        <div class="col-sm-6">
            <textarea placeholder="请输入个性签名" class="form-control" ng-model="info.sign"></textarea>
        </div>
    </div>
     <div class="col-sm-12">
        <div class="col-sm-1">个人简介</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="请输入个人简介" ng-model="info.introduction">
        </div>
    </div>     
    <div class="col-sm-12">
        <div class="col-sm-1">微博地址</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="请输入微博地址" ng-model="info.weibo">
        </div>
    </div>    
    <div class="col-sm-12">
        <div class="col-sm-1">gitHub地址</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="请输入gitHub地址" ng-model="info.github">
        </div>
    </div>    
    <div class="col-sm-12">
        <div class="col-sm-1">邮箱地址</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="请输入邮箱地址" ng-model="info.email">
        </div>
    </div>
    <div class="col-sm-12">
        <button type="submit" class="btn btn-default" ng-click="submit()">点击设置</button>
    </div>
</div>
