<div class="addCategory">
    <div class="col-sm-12">
        <div class="col-sm-1">个人头像</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="个人头像" ng-model="info.img">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-1">个人签名</div>
        <div class="col-sm-6">
            <textarea placeholder="description" class="form-control" ng-model="info.name"></textarea>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-1">个人名言</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="keyword(英文逗号分割)" ng-model="info.wisdom">
        </div>
    </div>   
     <div class="col-sm-12">
        <div class="col-sm-1">个人简介</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="keyword(英文逗号分割)" ng-model="info.introduction">
        </div>
    </div>     
    <div class="col-sm-12">
        <div class="col-sm-1">微博地址</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="keyword(英文逗号分割)" ng-model="info.weibo">
        </div>
    </div>    
    <div class="col-sm-12">
        <div class="col-sm-1">gitHub地址</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="keyword(英文逗号分割)" ng-model="info.github">
        </div>
    </div>    
    <div class="col-sm-12">
        <div class="col-sm-1">邮箱地址</div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="keyword(英文逗号分割)" ng-model="info.emali">
        </div>
    </div>
    <div class="col-sm-12">
        <button type="submit" class="btn btn-default" ng-click="submit()">submit</button>
    </div>
</div>
